

//colors 
$white: #fff;
$blue: #034899;
$black: #000000;
$black_90: #242456;
$dark_blue: #081A66;
$dark_blue1: #444195;
$lgreen: #47ABE0;
$body_gb: #FAFAFA;


$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
  xxxl: 1600px,
);