@import "scss-templates/_essential.scss";

.landing-page-wrapper {
    width: 100%;
    height: 100%;
    @include flex-vh-center;

    .main-content {
        width: 100%;
        height: 100%;
        padding: toRem(30);
        flex-direction: column;
        @include flex-v-center;
        background-color: $white;

        .brand-logo {
            height: toRem(100);
            width: auto;
            align-self: center;
        }
    }

    @include media-breakpoint-up("md") {
        width: 60%;
        margin: 0 auto;
    }
    @include media-breakpoint-up("lg") {
        width: 40%;
        margin: 0 auto;
    }
    @include media-breakpoint-up("xl") {
        width: 30%;
        margin: 0 auto;
    }
}